* {
    padding: 0;
    margin: 0;
}

body{
    /*background-color: #d8de97;
    font-size: 20px;
    font-family: serif;*/
    background-image: url(images/1.jpg);
    background-repeat: no-repeat;
    background-position: cover;
}

h1{
    color:yellow;
    padding-top: 60px;
    padding-right: 30px;
}

.recipePuppy{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.searchBut{
    border: 0;
    padding: 5px;

}

input{
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
}

.inputTitle{
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
    color: #16f7b4;
}

ul{
    padding-top: 30px;
}

li{
    padding-left: 30px;
    background-color: #b1d466;
}

li:hover{
    background-color: #16f7b4;
}